{
  "wallpaper_directory": "~/Pictures/Switcher",
  "state_directory": "~/.local/state/hywal",
  "animation_duration": 200,
  "default_view": "coverflow",
  "thumbnail_size": "860x540",
  "thumbnail_quality": 82
}